@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html,
body {
    font-family: 'Quicksand', sans-serif !important;
    font-family: 'Quicksand', sans-serif !important;
}

.banner {
    background-color: #5075d3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.banner span {
    color: rgb(255 255 255);
    font-weight: 700;
}

.banner a {
    color: rgb(255 255 255) !important;
    text-decoration-line: underline;
    margin-left: 1rem;
}

.navbar {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.navbar__logo {
    width: 25%;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 33%; */
}

.navbar__rightContainer {
    gap: 1rem;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ktoś kto to stylował podstawowy szablon byl niesamowity */
.navbar::after {
    display: none;
}

.slider__link{
    display: block;
    width: 100%;
}

.slider__figure{
    width: 100%;
}

.carousel .carousel-inner{
    height: auto !important;
}


/* Sekcja nadpisywania zmian */
#header {
    box-shadow: 0 0 #0000 !important;
    position: sticky;
    top: 0;
}

#wrapper {
    padding-top: 0;
}